/*@font-face {*/
/*font-family: TTWalls-RoughBold; !* Имя шрифта *!*/
/*src: url(../fonts/11397.ttf); !* Путь к файлу со шрифтом *!*/
/*}*/

/*@font-face {*/
/*font-family: Dorothea Deco; !* Имя шрифта *!*/
/*src: url(../fonts/11387.ttf); !* Путь к файлу со шрифтом *!*/
/*}*/

body {
    margin: 0;
    display: block;
    font-size: calc(1rem + ((1vw - 10px) * 1.1111));
}

.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.7% 0;
    text-decoration: none;
    width: 20%;
}

.menu a:hover {
    background: #ddd;
    color: black;
}

.panorama-block {
    min-height: 10vh;
}

.panorama {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20vh rgba(0, 0, 0, 0.5);
}

.about {
    width: 100%;
    /*padding-top: 2%;*/
    /*min-height: 100vh;*/
    margin-bottom: 1vh;
}

.hiking-title {
    text-align: center;
    margin-bottom: 18vh;
    margin-top: 6vh;
    font-size: calc(1rem + (2vh * 4.5));
}

.hiking-description {
    line-height: 2;
    margin: 0 2%;
    text-align: center;
    font-size: calc(1rem + (1.5vh * 1.1111));
}

.hiking-plan {
    /*padding-top: 6%;*/
}

.item-title {
    text-align: center;
    font-size: calc(1rem + (1vw * 1.7));
    margin: 2vh 0;
}

.sub-item-title{
    text-align: center;
    font-size: calc(1rem + (1vw * 1.7));
    margin: 5vh 0;
}

.hiking-plan-item {
    width: 30vw;
    height: auto;
    margin: 1vh 8vw 1vh 8vw;
    text-align: justify;
}

.plan-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hiking-map{
    /*padding-top: 6%;*/
    /*height: 100vh;*/
}

.hiking-details{
    height: 100vh;
}

.hiking-details-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25vh;
    /*padding-top: 6%;*/
    /*height: 100vh;*/
}

.hiking-details-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiking-details-item img{
    width: 100%;
    height: auto;
}

.contacts-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hiking-contact-item {
    margin: 1vh 8vw 3vh 8vw;
}

.space{
    min-height: 12vh;
}